img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: 5px;
}
h1 {
    padding-bottom: 0.6em;
}
#GridContentPage > h2 {
    margin-top: 0.4em;
}

#GridContainerPage {
    display: grid;
    grid-template-columns: 1fr 45vw 1fr;
    grid-template-areas:
    '. page .';
}
#GridContentPage {
    grid-area: page;
    height: 100%;
}