h1 {
    padding-bottom: 0.6em;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#login-container {
    width: 40vw;
    height: max-content;
}

form {
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
label {
    font-size: large;
    padding-bottom: 0.2em;
}
input {
    width: 100%;
    font-family: inherit;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 1em;
    background: #3e414a;
    border-radius: 10px;
    border-style: none;
}
::placeholder {
    color: #474B57;
    opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #474B57;
}
input:focus {
    outline: #4186F5 solid 2px;
}
.Button {
    width: 100%;
    margin-top: 0.4em;
    border-radius: 20px;
    background: #3E414A;
    padding: 1.3em;
    border-style: none;
    font-size: large;
    color: #4186F5;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
#InfoLogin {
    padding-bottom: 1em;
}
#EmailNote {
    padding-top: 0.6em;
    /*color: #474B57;*/
}

@media (max-width: 676px) {
    #login-container {
        width: 60vw;
        height: max-content;
        padding: 1.2em 3em 1.2em 3em;
    }
    form {
        width: 100%;
    }
}

@media (max-width: 446px) {
    #login-container {
        width: 100vw;
        height: max-content;
        padding: 1.2em 3em 1.2em 3em;
    }
}