* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #393A3F;;
}
h1, h2, h3, p, label {
    display:table;
}
h2, h3 {
    padding-top: 0.2em;
}

.GridCards > p.error {
    position: absolute;
}

.NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.2em;
}

#PageTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    /*white-space: nowrap;*/
}
#PageIcon {
    height: 2.125em;
}

.VerticalButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    border-radius: 20px;
    background: #3E414A;
    padding: 0.8em;
}
.VerticalButtonIcon {
    height: 2.125em;
}

#FooterBar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.2em;
    pointer-events: none;
    width: 100%;
}
#FooterBar > * {
    pointer-events: auto;
}

#GridContainerPage {
    display: grid;
    grid-template-columns: 1fr 45vw 1fr;
    grid-template-areas:
    '. page .';
}
#GridContentPage {
    grid-area: page;
    height: 100%;
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 1em);
    margin: 0.5em;
    border-radius: 5px;
    padding: 1em;
}
.alert-error {
    background: #B85450;
}
.font-error {
    color: #B85450;
}

.EmphasisButton {
    background: #3e639f;
    color: white;
}
.text-align-center {
    text-align: center;
}
.font-accent-color {
    color: #4186F5;
}
.invisible {
    visibility: hidden;
}
.display-none {
    display: none !important;
}

@media (max-width: 800px) {
    .NavigationBar {
        padding: 1.2em;
    }
    #FooterBar {
        padding: 1.2em;
    }

    #LoginButton {
        background: transparent;
        padding: 0;
    }
    #LoginButton > h3 {
        display: none;
    }

    #GridContainerPage, #GridContentPage {
        display: block;
    }

    #GridContentPage {
        padding: 0.2em 1.4em 1.2em 1.4em;
    }
}

@media (max-width: 511px) {
    #FooterBar {
        gap: 1em;
    }
    #BackButton > h3 {
        display: none;
    }
    #BackButton > img {
        width: max-content;
    }

    #ActionButton {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

@media (max-width: 351px) {
    #FooterBar {
        font-size: small;
    }
}